# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Terminal/node_modules
Terminal/.pnp
Terminal/.pnp.js

# testing
Terminal/coverage

# production
Terminal/build

Artefacts

# misc
Terminal/.DS_Store
Terminal/.env.local
Terminal/.env.development.local
Terminal/.env.test.local
Terminal/.env.production.local

# launcher
Terminal/npm-debug.log*
Terminal/yarn-debug.log*
Terminal/yarn-error.log*

Launcher/bin/**/*
Launcher/obj/**/*
Launcher/wwwroot/**/*