body {
  margin: 0 !important;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

* {
  user-select: none;

  font-family: Consolas;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px dotted #616161;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #444444;
  padding-left: 1px;
}
